BasedOnStyle: Chromium

AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline

Standard: Cpp11

InsertBraces: true
InsertNewlineAtEOF: true

KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: false
  AtStartOfFile: false

IncludeBlocks: Regroup

DerivePointerAlignment: false
PointerAlignment: Left

SpaceBeforeParens: ControlStatements